	<section id="fh5co-intro">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				{{ range .Site.Params.intro.item }}
				<div class="fh5co-block to-animate" style="background-image: url(images/{{ .img }});">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon {{ .icon }}"></i>
						<h2>{{ .title }}</h2>
						<p>{{ .description }}</p>
					</div>
				</div>
				{{ end }}
			</div>
			{{ if .Site.Params.plasso.enable }}
			<div class="row watch-video text-center to-animate">
				{{ with .Site.Params.plasso.marketLede }}<span>{{ . }}</span>{{ end }}

				<p><a  class="btn btn-primary btn-devexp" href="{{ .Site.Params.plasso.marketUrl }}" target="_blank">{{ .Site.Params.plasso.marketText }}</a></p>
			</div>
			{{ end }}
		</div>
	</section>
